input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

} 


div {
	width: 100%;
  border-radius: 5px;
  background-color: #ffe6e6;
  padding: 17px;
  font-family: Cursive
}